
<% if (!user) { %>
  <div class="hero-unit">
    <h1>Welcome to DotA 2 Mafia</h1>
    <p>DotA 2 Mafia is based on Node.js</p>
    <p>
      <a class="btn btn-primary btn-large" href="/login">Sign in</a>
      <a class="btn btn-large" href="/reg">Sign up</a>
    </p>
  </div>
<% } else { %>
   <%- partial('say') %> 
<% } %>
<%- partial('posts', {posts:posts}) %> 