<div class="hero-unit">
  <h1>Welcome to  DotA2 Microblog</h1>
  <p>DotA2 Microblog is a Node.js based RPG blog</p>
  <p>
    <a class="btn btn-primary btn-large" href="/login">Sign in</a>
    <a class="btn btn-large" href="/reg">Sign up Now!</a>
  </p>
</div>
<div class="row">
  <div class="span4">
    <h2>Purge says</h2>
    <p>Fresh meat!</p>
  </div>
  <div class="span4">
    <h2>Ogre Magi says</h2>
    <p> They picked me! No one ever picks me.</p>
  </div>
  <div class="span4">
    <h2>Lina says</h2>
    <p>Extinguished.</p>
  </div>
</div>
