<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
        <title>DotA2 Microblog</title>
        <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
        <style type="text/css">
        </style>
        <link href="stylesheets/bootstrap-responsive.css" rel="stylesheet">
    </head>
    <body>
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="/">DotA2 Microblog</a>
                    <div class="nav-collapse">
                        <ul class="nav">
                            <li class="active"><a href="/">Home page</a></li>
                            <li><a href="/login">Sign in</a></li>
                            <li><a href="/reg">Sign up</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div id="container" class="container">
            <%- body %>
        <hr />
        <footer>
            <p><a href="https://github.com/congyun" target="_blank">Congyun</a> 2014</p>
        </footer>
        </div>
    </body>
      <script src="/javascripts/jquery.js"></script>
      <script src="/javascripts/bootstrap.js"></script>
</html>